.search_cep_container {
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 1.2rem;
    max-height: 320px;
    width: 38rem;
    box-shadow: 0 0 12px #d6d6d6;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
    color: #353535;
}

.title svg {
    width: 1.8rem;
    height: 1.8rem;

}

.search_cep_container button {
    padding: .7rem 1.8rem;
    background-color: #e90000;
    border: 1px solid #e90000;
    color: #FFF;
    font-weight: 400;
    border-radius: .6rem;
    cursor: pointer;
    transition: .3s;
}

.search_cep_container button:hover {
    background-color: transparent;
    color: #2c2c2c;
    transition: .3s;
}

.search_cep_container input {
    background-color: #FFF;
    padding: .7rem 1rem;
    border: 1px solid #D6D6D6;
    border-radius: .8rem;
    width: 370px;
    margin-right: .7rem;
    font-weight: 500;
}

.search_cep_container input:focus {
    outline: 0;
}

.search_cep_container table {
    margin: 2.2rem 0;
}

.search_cep_container th , .search_cep_container td {
    text-align: start;
    padding: .7rem .4rem;
    font-size: .8rem;
}

.search_cep_container th {
    background-color: #D6D6D6;
}

.search_cep_container td {
    background-color: #f1f1f1;
}
