.search_cep_container {
    background-color: #e90000;
    padding: 1.3rem;
    border-radius: 1.2rem;
    max-height: 320px;
    width: 730px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.7rem;
    color: #fff;
}

.title svg {
    width: 1.8rem;
    height: 1.8rem;

}

button {
    background-color: #ffff00;
    color: #000;
    font-weight: 600;
    padding: .7rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

input {
    background-color: #FFF;
    padding: .7rem 1rem;
    border: none;
    border-radius: 1.2rem;
    width: 370px;
    margin-right: .7rem;
}

table{
    margin: 1rem 0;
    font-size: .7rem;
}

table tr {
    font-weight: 800;
    background-color: #999999;
}

table tr + tr {
    font-weight: 600;

    background-color: #D6D6D6;
} 

table td {
    padding: .5rem;
}
