.calculator_container {
    padding: 1rem;
    max-width: 280px;
    background-color: #ededed;
    border-radius: 1.2rem;
    box-shadow: 0 0 2px #d6d6d6;
}

.calculator_container .results {
    text-align: right;
    padding: 1rem;
}

.keyboards_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.keyboards_container button {
    background-color: #FFF;
    color: #000;
    border: none;
    border-radius: .8rem;
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
    box-shadow: 0 0 3px #9c9c9c;
}

.box_1 {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    gap: 5px;
}

.box_2 {
    display: grid;
    grid-template-columns: 125px 60px 60px;
    grid-template-rows: 60px;
    gap: 5px;
}