.todo_container {
    padding: 1.5rem;
    border: 1px solid #d6d6d6;
    border-top: 8px solid #e90000;
    border-bottom: 8px solid #e90000;
    width: 38rem;
    height: 600px;
    max-height: 600px;
    color: #2c2c2c;
    overflow-y: scroll;
}

.todo_container #info {
    position: absolute;
    transform: translateX(34.5rem) translateY(-2.4rem);
    color: #006eff;
    cursor: pointer;
    transition: .2s;
}

.todo_container #info:hover {
    color: #003376;
    transition: .2s;
}

.popup {
    font-size: .7rem;
    width: 10rem;
    background-color: #fff;
    padding: .8rem;
    position: absolute;
    border-radius: 1.2rem;
    box-shadow: 0 0 4px #D6d6d6;
    transform: translateX(31rem) translateY(-1.6rem);
    z-index: 1000;
    transition: .5s;
}

.todo_container .form_container {
    margin: 1.8rem 0;
}

.todo_container .form_container .input_container .input_component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.todo_container .form_container .input_container {
    margin: 1.4rem 0;
}

.todo_container .form_container .input_container 
.input_component input , .todo_container 
.form_container .input_container .input_component  select {
    background-color: #fff;
    padding: .8rem 1rem;
    border: 1px solid #D6D6D6;
    width: 100%;
    font-weight: 400;
    font-size: .8rem;
    border-radius: .6rem;
}

.todo_container .form_container .input_container 
.input_component input:focus , .todo_container 
.form_container .input_container .input_component  select:focus {
    outline: 0;
}

.todo_container .form_container .input_container 
.input_component label {
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: .4rem;
}

.todo_container .form_container button {
    padding: .8rem 1rem;
    background-color: #e90000;
    border: 1px solid #e90000;;
    color: #FFF;
    font-weight: 400;
    border-radius: .6rem;
    cursor: pointer;
    transition: .3s;
}

.todo_container .form_container button:hover {
    background-color: transparent;
    color: #2c2c2c;
    transition: .3s;
}

.todo_container .form_container .input_container .box_1 {
    display: grid;
    grid-template-columns: 10rem 7rem 9rem;
    grid-template-rows: 4rem;   
    gap: 5px;
}

.todo_container .form_container .input_container .box_2 {
    display: grid;
    grid-template-columns: 14rem 12rem;
    grid-template-rows: 4rem;
    gap: 10px;
    margin: .8rem 0;
}

.todo_container h4 {
    margin-bottom: 2rem;
}
