.card-contract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .7rem;
    box-shadow: 0 0 3px #d6d6d6;
    color: #2c2c2c;
    border-radius: 0 .8rem .8rem 0;
    margin: 1rem 0;
    border-left: 8px solid #e90000;
    position: relative;
}

.card-contract .infos h4 , 
.card-contract .infos p {
    font-size: .7rem;
    margin: .4rem 0;
}


.card-contract .actions-container button {
    cursor: pointer;
    background-color: #e90000;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: .9rem;
    height: .9rem;
    text-align: center;
    font-weight: 800;
    font-size: .7rem;
    position: absolute;
    transform: translateY(-2.7rem);
}
