.note-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}


.utils-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    padding: 100px, 80px;
    gap: 3rem;
}
