.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 3rem;
    align-items: center;
}


.header-container svg {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 8rem 3rem;
    gap: 50px;
}

.skill-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

